.subsBtn {
  background-color: #d61b1b;
  color: white;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
  transition: opacity 0.5s;
  vertical-align: top;
}

.subsBtn:active {
  opacity: 0.5;
}

.joinBtn {
  color: rgb(40, 158, 201);
  border-color: rgb(0, 187, 255);
  border-style: solid;
  border-width: 1px;
  background-color: white;
  border-radius: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.5s, color 0.4s;
}

.joinBtn:hover {
  background-color: rgb(0, 187, 255);
  color: white;
}

.joinBtn:active {
  opacity: 0.5;
}

.tweetBtn {
  margin-left: 8px;
  color: white;
  background-color: rgb(0, 162, 255);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
}

.tweetBtn:hover {
  box-shadow: 0.5px 0.5px 5px rgba(77, 76, 76, 0.4);
}

.tweetBtn:active {
  opacity: 0.5;
  color: rgb(31, 130, 187);
  background-color: white;
}

.subsBtn:hover {
  opacity: 0.8;
}

.submit-button {
  border: none;
  border-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 8px;
  background-color: rgb(67, 191, 67);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.5s, color 0.5s, border-style 0.5s;
}

.submit-button:hover {
  background-color: white;
  color: rgb(67, 191, 67);
  box-shadow: 1px 1px 6px rgb(154, 228, 154);
}

.submit-button:active {
  opacity: 0.4;
  box-shadow: 1.5px 1.5px 10px rgb(3, 235, 3);
}

.swisscom {
  font-family: Raleway, sans-serif;
  color: white;
  background-color: rgb(0, 17, 85);
  border: none;
  padding: 4px 10px 4px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.swisscom:hover {
  background-color: black;
}
